:root {
  /* Fonts */
  --font-family-base: "Merriweather", sans-serif;

  /* Colors */
  --header-bg: #333641;
  --header-fg: #dbe0f4;
  --header-hover-bg: #222327;

  /* Transitions */
  --color-transition: {
    transition: color 0.14s ease-in-out;
  };

  --bg-color-transition: {
    transition: background 0.14s ease-in-out, color 0.14s ease-in-out;
  };
}

body {
  font-family: var(--font-family-base);
  font-size: 16px;

  margin: 0;
}

.header {
  line-height: 64px;

  font-size: 20px;

  background: var(--header-bg);
}

.header__link {
  display: inline-block;
  padding: 0 16px;

  text-decoration: none;
  transition: color 0.12s ease-in-out;

  color: var(--header-fg);
  @apply --bg-color-transition;

  &:hover:not(.active) {
    color: #ffffff;
    background: var(--header-hover-bg);
  }
  &.active {
    color: #ffffff;
    cursor: default;
  }
}

.content {
  margin: 16px;
}

.matrix-input__item {
  margin: 4px;
  width: 20px;

  text-align: center;

  /* Remove up/down arrows */
  -moz-appearance: textfield; 
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.matrix-input__grid {
  list-style: none;
  padding: 0px;
}

.multiline {
  white-space: pre-line;
  line-height: 1.5em;
}
